html{
    scroll-behavior: smooth;
    overflow-y: scroll;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #35605A;
    color: #dbe4ee;
    font-weight: 600;
}

.transparent{
    background-color: #1d534c; 
}

.navbar-dark .navbar-nav .nav-link{
    color: #dbe4ee;
}

.navbar-dark .navbar-brand{
    color: #f15025;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: #f15025;
}

.navbar-dark .navbar-brand:focus, 
.navbar-dark .navbar-brand:hover{
    color: #dbe4ee;
}

.banner{
    min-height: 100vh;
    line-height: 1.2 !important;
    /* color: black; */
}

.mainText{
    font-weight: 600;
}

.banner .display-5{
    font-size: 20px;
}

.resumeBtn{
    border: 1px solid #f15025;
    color: #dbe4ee;
}

.resumeBtn:hover{
    color: #dbe4ee;
    border: 1px solid #dbe4ee;
    background-color: #f15025;
}

.button{
    border: 2px solid #f15025;
    width: 200px;
    color: #dbe4ee;
    height: 50px;
    padding: 10px;
}

.button:hover{
    /* border: 2px solid #dbe4ee; */
    background-color: rgba(241, 80, 37, 0.5);
    /* opacity: 0.6; */
    color: #dbe4ee;
}

p strong{
    color: #f15025;
}

#myName{
    border-bottom: 3px solid #dbe4ee;
    padding-bottom: 3px;
}

#about, #projects, #contact{
    /* min-height: 100vh; */
    padding: 50px 0px;
    overflow: visible;
    /* background-color: blue; */
    /* background-color: darkgrey; */
}

header, #about, #projects, #contact{
    width: 70%;
    margin: auto;
}


/* #headerBackground{
    background-image: url('https://images.unsplash.com/photo-1533628635777-112b2239b1c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    background-size: cover;
} */

#aboutBackground{
    background-color: #2c746a;
}
#projectsBackground{
    background-color: #1b695f;
}
#contactBackground{
    background-color: #38867d;
}

.blueColor{
    color: #6881cc;
}

.redColor{
    color: #f15025;
}

@media only screen and (max-width: 1474px){
    header, #about, #projects, #contact{
        width: 90%;
        margin: 0 auto;
    }
}

/* @media only screen and (max-width: 800px){
    header, #about, #projects, #contact{
        width: 100%;
        margin: auto;
    }
} */
.title{
    margin-bottom: 50px!important;
}

.title-underline{
    width: 300px;
    border: 3px solid #dbe4ee;
    margin: 0 auto 20px auto;
}

#contact .title{
    margin-bottom: 10px !important;
}

.customText{
    font-size: 18px;
}

.colorText{
    color: #f15025;
}

.skills li{
    position: relative;
    list-style: none;
    margin: 50px 0;
    text-transform: uppercase;
}

.skills .java{
    margin: 0;
}

.skills li:before{
    content: "";
    position: absolute;
    top:calc(100% + 10px);
    left:0;
    width: 100%;
    height: 15px;
    background-color: rgba(241, 80, 37, 0.3);
    border-radius: 1000px;
}

.skills li:after{
    content: "";
    position: absolute;
    top:calc(100% + 10px);
    left:0;
    width: 0;
    height: 15px;
    background-color: rgba(241, 80, 37, 1);
    border-radius: 1000px;
    animation-duration: .7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.skills li.java:after{
    animation-name: java;
}

@keyframes java{
    to{
        width: 80%;
    }
}

.skills li.cplusplus:after{
    animation-name: cplusplus;
}

@keyframes cplusplus{
    to{
        width: 60%;
    }
}

.skills li.js:after{
    animation-name: js;
}

@keyframes js{
    to{
        width: 70%;
    }
}

.skills li.htmlcss:after{
    animation-name: htmlcss;
}

@keyframes htmlcss{
    to{
        width: 90%;
    }
}

.skills li.react:after{
    animation-name: react;
}

@keyframes react{
    to{
        width: 75%;
    }
}

.skills li.bootstrap:after{
    animation-name: bootstrap;
}

@keyframes bootstrap{
    to{
        width: 70%;
    }
}

.skills li.django:after{
    animation-name: django;
}

@keyframes django{
    to{
        width: 75%;
    }
}

.mainProjectImage{
    width: 100%;
    height: 26rem;
}

.otherProjectImage{
    width: 100%;
    height: 25rem;
    /* box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .2); */
}

.cardBtn{
    border: 1px solid red;
}

#projects{
    color: black;
}

#footer .fa{
    color: #f15025;
}

#footer .fa:hover{
    color: #dbe4ee;
}

.cardA:hover{
    text-decoration: none;
}

.error, .messageSent{
    color: #f15025;
    visibility: hidden;
}

.form {
    line-height: 1!important;
}